/core/transfer_mobilenet_cnnlstm_tfrecord
/core/transfer_mobilenet_cnnlstm_tfrecord_2
/core/73927.jpg
/core/brick.jpg
/core/transfer_mobilenet_cnnlstm_tfrecord-20221231T150245Z-001.zip
/core/transfer_mobilenet_cnnlstm_tfrecord_2-20230103T055750Z-001.zip
shape_predictor_68_face_landmarks